#main-container{
    display: flex;
    flex-direction: column;       
}

#main-container>.nav-container{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;    
}

.nav-container nav{
    background: #222;
    height: 50px;    
    display: flex;    
    padding: 5px 15px;
}

.nav-container nav>div{
    flex: 1 1 300px;
}

.nav-container>nav>.left-header{
    display: flex;
    align-items: center;
}

.nav-container>nav>.right-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.slider{
    display: flex;
    padding: 15px;
    justify-content: center;
}

.slider img {
    width: 20px;
    cursor: pointer;
    margin: 0 5px;
    /* border-radius: 50%; */
}

.slider img:first-child, .slider img:last-child{
    border-radius: none;
}

.slider img:first-child{
    /* background: #000; */
}