#main-container{
    display: flex;
    flex-direction: column;       
}

#main-container>.nav-container{
    position: fixed;
    z-index: 10;
    top: 0;
    width: 100%;    
}

.nav-container nav{
    background: #222;
    height: 50px;    
    display: flex;    
    padding: 5px 15px;
}

.nav-container nav>div{
    flex: 1 1 300px;
}

.nav-container>nav>.left-header{
    display: flex;
    align-items: center;
}

.nav-container>nav>.right-header{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    cursor: pointer;
}

.slider{
    display: flex;
    padding: 15px;
    justify-content: center;
    align-items: center;    
}

.dots-container{
    flex: 1;
}

.num-container{
    flex: 1;
}

.slider img {
    width: 18px;
    cursor: pointer;
    margin: 0 5px;    
}

.modal-header>button{
    outline: none;
    border: none;    
}

.modal-header>button>span{
    font-size: 20px;
}

.details-desc::before{
    content: "*";
    font-size: 16px;
    font-weight: bold;
    margin-top: 5px;
    margin-right: 5px;
    color: #111;
}

.details-desc{    
    padding: 4px 4px 4px 12px;
    display: flex;
    align-items: center;
}

.modal-content{
    background-image: url('../assets/images/rose.jpg');
    background-repeat: no-repeat;    
}